/* Hero section styles */
.hero-section {
   /* background-color: rgb(51, 54, 62);*/
    background-image: linear-gradient(to right, rgb(60, 64, 72), #000000);
    height: 640px;
    padding-left: 100px;
    padding-top: 80px;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-section > .text-area {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 600px;
}

.hero-section > .text-area > .top-paragraph {
    display: flex;
    width: 680px;
    align-self: flex-start;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(220, 218, 216);
    font-size: 2.4em;
}

.destacado {
    color: white;
    font-weight: 900;
}

.hero-section > .text-area > .bottom-paragraph {
    display: flex;
    width: 680px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(220, 218, 216);
    font-size: 2.1em;
    line-height: 1.6;

}

.hero-section > .text-area > .hero-buttons {
    display: flex;
    height: 80px;
    align-items: center;
}

.hero-section >  .text-area > .hero-buttons > .green-button > .green-btn{
    background-color: rgb(75, 206, 121);
    font-family: "Lato", sans-serif;
    font-size: 2em;
    padding: 10px 30px;
    border: 1px solid rgb(54, 56, 63);
    border-radius: 6px;
    outline: none;
    height: 80px;
}


.hero-section >  .text-area > .hero-buttons > .learn-button > .learn-btn {   
    background-color: black;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 2em;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    height: 80px;
}

.hero-section > .image-area {
    box-shadow: 5px, 5px, 0px, rgb(10, 10, 12);
}

.hero-section > .image-area > .image-name {
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
    color: white;
    padding-bottom: 10px;
    padding-left: 20px;
}


.hero-section > .image-area > .code-image img {
    width: 900px;
    height: 600px;
 }

.destacado2 {
    color:aqua;
}


