.option-wrapper {
    display: flex;    
    height: 60px;
    width: 100%;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    /*border: 2px solid white;*/
    

}

.option-wrapper > .opt {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    background-color: rgb(60, 64, 72);
    color: white;
    border-right: 1px solid rgb(167, 164, 160);
    border-top:  1px solid rgb(167, 164, 160);
    border-bottom: 1px solid rgb(167, 164, 160);
    
}

.options {
    vertical-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.6em;
    padding-bottom: 8px;
    padding-left: 8px;
}

.footer {
    height: 90px;
    background-color: black;
    display: flex;
}

/*.options-wrapper > .opt:last-child {
    border-right: none;
}*/